.column-class {
    background-image: url("./images/Group-2.jpg");
    height: 70vh;
    /*background-position: center;*/
    background-size: cover;
}
.column-class-1 {
    background-image: url("./images/Group-4.png");
    height: 70vh;
    background-position: center;
    background-size: 100% 80vh;
    background-repeat: no-repeat;
}

.readbutton {
    height: 50px;
    width: 180px;
    border: none;
    background-color: #be1e2d !important;
}
.readbutton:hover {
    color: #fff !important;
    background-color: transparent !important;;
    border: 2px solid #be1e2d !important;;
}
.pos {
    height: 70vh;
}
.bgdesign {
    background-color: #bcbec0;
    color: white;
    height: 70vh;
}
.button:link,
.button:visited {
    background-color: yellow;
    text-decoration: none;
    color: white;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.backimg {
    background-image: url("./images/Mask-Group-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 70vh;
}
.register-now-btn{
    color: #fff;
    /* background-color: #be1e2d; */
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    top: 415px;
    left: 250px;
    width: 600px;
}
.register-now-btn:hover{
    color: #fff;
}

.register-now-btn-2{
    color: #fff;
    /* background-color: #be1e2d; */
    padding: 10px 20px;
    border-radius: 15px;
    position: relative;
    top: 380px;
    left: 510px;
}

.register-now-btn-2:hover{
    color: #fff;
}
.bootcamp-main-section{
    background-color: #be1e2d; height: 275px; margin-bottom: 50px;
}
.bootcamp-section{
    display: flex;
    height: 275px;
}
.free-bootcamp-section{
    display: flex;
    align-items: center;
}
.free-bootcamp-img{
    position: relative;
    top: -50px;
    left: 50px;
    width: 80%;
}
.free-bootcamp-heading{
    color: #fff;
    font-weight: normal;
    padding-left: 20px;
}
.free-bootcamp-quote{
    position: relative;
    top: -50px;
}


.join-two-months{
    font-weight: normal;
    font-size: 22px;
    color: #707070;
}
.free-bootcamp{
    color: #707070;
    padding-top: 15px;
}
.register-btn-job{
    margin-top: 15px;
}

.prev-btn-slider{
    top: 300px;
}
.next-btn-slider{
    top: 300px;
}

.prev-btn-slider .slider-icon{
    background-color: black;
}
.next-btn-slider .slider-icon{
    background-color: black;
}

.prev-btn-slider:hover .slider-icon{
    background-color: transparent;
}

.next-btn-slider:hover .slider-icon{
    background-color: transparent;
}

.youtube-video-container {
   width: 87vw;
   height: calc(80vw/1.77);
}



@media(max-width: 1024px){
    .register-now-btn{
        top: 360px;
        left: 200px;
    }
    .register-now-btn-2{
        top: 325px;
        left: 400px;
    }
    .free-bootcamp-img{
    left: 0px;
    width: 95%;
}
.youtube-video-container {
   width: 95vw;
   height: calc(95vw/1.77);
}
}

@media(max-width: 768px){
    .register-now-btn{
        top: 280px;
        left: 150px;
        font-size: 18px;
        padding: 5px 15px;
    }
    .register-now-btn-2 {
            top: 275px;
            left: 290px;
    }
    .free-bootcamp-heading{
        font-size: 25px;
    }
    .bootcamp-main-section{
        height: 230px;
    }
    .bootcamp-section {
        height: 230px;
    }
    .free-bootcamp-img{
        width: 100%;
        top: -30px;
    }
    .join-two-months{
        font-size: 20px;
    }
    .free-bootcamp{
            padding-top: 10px;
            font-size: 40px;
    }
    .prev-btn-slider{
        display: none;
    }
    .next-btn-slider{
        display: none;
    }
    .youtube-video-container {
   width: 100vw;
   height: calc(100vw/1.77);
}
}
@media(max-width: 767px){
    .register-now-btn{
        top: 260px;
        left: 115px;
        font-size: 16px;
    }
    .register-now-btn-2 {
        top: 230px;
        left: 208px;
        padding: 7px 16px;
    }
    .bootcamp-main-section {
        height: auto;
    }
}

@media (max-width: 640px){
    .register-now-btn {
        padding-bottom: 25px;
    }
}

@media(max-width: 540px){
    .register-now-btn-2 {
        top: 200px;
        left: 145px;
    }
    .register-now-btn{
        left: 35px;
        width: 400px;
        padding-bottom: 58px;
    }
    .free-bootcamp {
        padding-top: 0px;
        font-size: 35px;
    }
    .register-btn-job {
        margin-top: 0px;
        min-width: 160px !important;
        min-height: 47px !important;
        font-size: 16px;
    }
}

@media (max-width: 425px){
    .register-now-btn {
        top: 175px;
        left: 5px;
        font-size: 14px;
        padding: 5px 12px;
    }
    .join-two-months {
    font-size: 18px;
    }
    .free-bootcamp {
        padding-top: 0px;
        font-size: 30px;
        line-height: 45px;
    }
    .register-now-btn-2 {
        top: 170px;
        left: 145px;
        padding: 5px 10px;
}
.register-btn-job{
    min-width: 70px !important;
    min-height: 30px !important;
    font-size: 14px !important;
}
}
@media(max-width: 375px){
    .register-now-btn-2 {
        top: 160px;
        left: 130px;
    }
    .register-now-btn{
        top: 173px;
        width: 350px;
        padding-bottom: 13px;
    }
    .free-bootcamp {
    font-size: 24px;
    line-height: 40px;
}
.join-two-months {
    font-size: 16px;
}
.bootcamp-img{
    height: 170px;
}
.free-bootcamp-heading {
    font-size: 20px;
}
.free-bootcamp-quote{
    width: 12%;
}
.register-btn-job {
    min-width: 60px !important;
    min-height: 25px !important;
    font-size: 12px !important;
}
}
@media (max-width: 320px){
    .register-now-btn {
    left: 0px;
    width: 300px;
    font-size: 12px;
}


.free-bootcamp {
    font-size: 25px;
    line-height: 40px;
}
    .register-now-btn-2 {
        top: 145px;
        left: 100px;
    }
}